html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: skyblue;
    background-size: cover;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin: 20px;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 0;
    height: 100vh;
    width: 100vw;
}

.middle {
    position: relative;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#sheep {
    position: absolute;
    height: 200px;
    bottom: -5%;
    left: 80%;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: jump;
    animation-direction: forward;
    animation-timing-function: ease;
}

@keyframes jump {
    from {
        left: 80%;
      }
      40% {
        bottom: 50%;
        transform: rotate(360deg);
      }
      to {
        left: 20%;
      }
  }

@keyframes walk1 {
    from {
        left: 60%;
      }
      50% {
        left: -35%;
        transform: scaleX(-1);
      }
      to {
        left: 60%;
        transform: scaleX(-1);
      }
  }
  @keyframes walk2 {
    from {
        left: 35%;
      }
      50% {
        left: -70%;
        transform: scaleX(-1);
      }
      to {
        left: 35%;
        transform: scaleX(-1);
      }
  }

.sheep_board {
    width: 100%;
    position: absolute;
    bottom: -5%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 0;
    row-gap: 0;
}

.sheep1, .sheep2 {
    width: 100%;
    position: relative;
}

.sheep1 {
    grid-column: 1;
    position: relative;
}
.sheep2 {
    grid-column: 3;
}


#sheep1, #sheep2 {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 2;
}
#sheep3 {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 200px;
}
#sheep4 {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
    transform: scaleX(-1);
}

#sheep1 {
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: walk1;
    animation-direction: forward;
}

#sheep2 {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: walk2;
    animation-direction: forward;
    animation-delay: 2s;
}

.fence {
    width: 20%;
    grid-column: 2;
    display: flex;
    justify-content: center;
    justify-self: center;
}

#fence {
    height: 200px;
    width: 200px;
}

#grass1 {
    height: 20%;
    position: absolute;
    bottom: 0;
    width: 50%;
    z-index: 3;
}
#grass2 {
    height: 20%;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 0;
    z-index: 3;
}
.ground {
    background-color: #9b7653;
    position: relative;
    bottom: 0;
    z-index: 4;
}